# Library Management system

In [1]:
import auth
import pandas as pd
from mysql.connector import connect

In [121]:
con = connect(user=auth.user, password=auth.password, host=auth.host, database=auth.database)
mycursor = con.cursor()

## Issue and Return book

In [55]:
# issue funtion
def issue_book():
    query_reader = pd.read_sql_query('select * from reader',con)
    print('Table : reader')
    display(query_reader)
    print('Table : books')
    display(pd.read_sql_query('select * from books',con))
    
    user_id = int(input('Enter user ID : '))
    
    def bookids():
        return [i for i in pd.read_sql_query('select b_id from bookissue',con).b_id]
    
    if user_id in query_reader['r_id'].to_list():
        book_id = input('Enter the book id : ')
        if int(book_id) not in bookids():
            mycursor.execute(f'INSERT INTO bookissue VALUES({user_id},{book_id});')
            mycursor.execute(f"update books set b_availablity = 'Issued' where b_id = {book_id};")
            con.commit()
            print('Book Successfully updated.\n')
        else:
            print('Book is not available for issue.\n')
    else:
        print('User not found!\n')

In [72]:
# return funtion
def return_book():
    print('Table : bookissue')
    display(pd.read_sql_query('select * from bookissue',con))
    
    user_id = int(input('Enter user ID : '))
    if user_id not in pd.read_sql_query('select * from bookissue',con)['r_id'].to_list():
        print('User ID is wrong.\n')
        return None
    
    book_id = int(input('Enter the book id : '))
    if book_id not in pd.read_sql_query('select * from bookissue',con)['b_id'].to_list():
        print('Book ID is wrong.\n')
        return None

    
    mycursor.execute(f'DELETE from bookissue where b_id ={book_id} and r_id={user_id}')
    mycursor.execute(f'update books set b_availablity = \'Available\' where b_id ={book_id}')
    con.commit()
    print('Book Successfully returned.\n')

## Viewing records of the tables

In [4]:
def table_books():
    print('Table : books')
    display(pd.read_sql_query('select * from books',con))

In [5]:
def table_reader():
    print('Table : reader')
    display(pd.read_sql_query('select * from reader',con))

In [6]:
def table_bookissue():
    print('Table : bookissue')
    display(pd.read_sql_query('select * from bookissue',con))

## Upload records in the table

In [102]:
def add_new_reader():
    display(pd.read_sql_query('select * from reader',con)) 
    reader_id, reader_name = int(pd.read_sql_query('select r_id from reader order by r_id desc limit 1',con).values[0][0]) + 1, input('Enter name of the reader : ')
    try:
        mycursor.execute(f'insert into reader values({reader_id},\'{reader_name}\');'); con.commit()
        print(f'Successfully added the book {reader_name} to table reader.\n')
    except:
        print('Update failed!\n')

In [105]:
def add_new_book():
    display(pd.read_sql_query('select * from books',con))
    b_id = int(pd.read_sql_query('select b_id from books order by b_id desc limit 1', con).values[0][0]) + 1
    b_name = input('Enter the name of the book : ')
    b_author = input('Enter the name of the Author : ')
    b_genre = input('Enter the name of the Genre : ')
    try:
        mycursor.execute(f"insert into books values({b_id}, '{b_name}', '{b_author}', '{b_genre}', 'Available')"); con.commit()
        print(f'Successfully added {b_name} user to table reader.\n')
    except:
        print('Update failed!\n')

## Modify records in the tables

In [135]:
def modify_reader():
    display(pd.read_sql_query('select * from reader',con))
    modify_reader = int(input('enter the reader id'))
    if modify_reader not in pd.read_sql_query('select * from reader',con)['r_id'].to_list():
        print('User ID is wrong.\n');
        return None
    else:
        r_name = input('Enter new name of the reader')
        mycursor.execute(f"update reader set r_name = '{r_name}'where r_id = {modify_reader};")
        con.commit()
        print('Reader Successfully modified.\n')

   r_id  r_name
0  1001    Arun
1  1002    Rick
2  1003   Morty
3  1004  Sidney

enter the reader id 1003
Enter name of the reader Beth

Reader Successfully modified.

In [133]:
def modify_book():
    display(pd.read_sql_query('select * from books',con))
    modify_books = int(input('enter the book id'))
    if modify_books not in pd.read_sql_query('select * from books',con)['b_id'].to_list():
        print('Book ID is wrong.\n')
        return None
    else:
        b_name, b_author, b_genre = input('Enter new name of the book'),input('Enter new Author name of the book'),input('Enter new Genre of the book')
        mycursor.execute(f"update books set b_name = '{b_name}', b_author = '{b_author}', b_genre = '{b_genre}' where b_id = {modify_books};")
        con.commit()
        print('Book Successfully modified.\n')

## Remove records from tables

In [77]:
def remove_books():
    display(pd.read_sql_query('select * from books',con))
    remove_books = int(input('enter the book id'))
    user_id = int(input('Enter user ID : '))
    if user_id not in pd.read_sql_query('select * from bookissue',con)['r_id'].to_list():
        print('User ID is wrong.\n')

        return None
    if remove_books not in pd.read_sql_query('select * from books',con)['b_id'].to_list():
        print('Book ID is wrong.\n')
        return None
    query = pd.read_sql_query(f'select * from books where b_id = {remove_books}',con)
    if (query['b_availablity'] == 'Issued')[0]:
        print('Issued book cannot be removed.\n')
    else:
        mycursor.execute(f'delete from books where b_id = {remove_books}')
        con.commit()
        print('Book Successfully Deleted.\n')

In [96]:
def remove_reader():
    display(pd.read_sql_query('select * from reader',con))
    remove_user = int(input('enter the user id'))
    if remove_user not in pd.read_sql_query('select * from reader',con)['r_id'].to_list():
        print('User ID is wrong.\n')
        return None
    if remove_user in pd.read_sql_query(f'select r_id from bookissue',con)['r_id'].to_list():
        print('User cannot be removed before returning the book.\n')
    else:
        mycursor.execute(f'delete from reader where r_id = {remove_user}');con.commit()
        print('User Successfully Deleted.\n')

## Main program

In [164]:
def select_table(fn1, fn2, fn3=None):
    print([f'Please select a table :\n1. Books\n2. Reader' if fn3==None  else f'Please select a table :\n1. Books\n2. Reader\n3. Bookissue'][0])
    user_input_remove = input()
    if user_input_remove == '1': fn1()
    elif user_input_remove == '2': fn2()
    elif user_input_remove == '3': fn3()
    else: print('Wrong option!.\n')

In [118]:
while(True):
    print('Welcome to the Library managment system')
    # remove
    con = connect(user=auth.user, password=auth.password, host=auth.host, database=auth.database); mycursor = con.cursor()
    print('''\nPlease choose an option from below menu:\n1. Issue a book\n2. Return a book\n3. View records\n4. Upload records\n5. Remove records\n6. Modify records\n7. Exit\n''')

    try: user_input = int(input())
    except: print('Entered input is not a number please try again.\n')
    
    # Issue a book
    if user_input == 1: issue_book()
        
    # Return a book
    elif user_input == 2: return_book()
        
    # View records
    elif user_input == 3: select_table(table_books, table_reader, table_bookissue,)

    #  Update records
    elif user_input == 4: select_table(add_new_book,add_new_reader)

    # Remove records
    elif user_input == 5: select_table(remove_books,remove_reader)

    # modify records
    elif user_input == 6: select_table(modify_book,modify_reader)
    
    # exit
    elif user_input == 7: con.close(); break

Welcome to the Library managment system

Please choose an option from below menu:
1. Issue a book
2. Return a book
3. View records
4. Update records
5. Remove records
6. Exit

 3

Records tables :
1 Bookissue
2 Books
3 Reader

Please type the name of a table to view 2

Table : books

,b_id,b_name,b_author,b_genre,b_availablity
0,1,Harry Potter and the Deathly Hallows,J. K. Rowling,Fantasy,Available
1,2,Harry Potter and the Prisoner of Azkaban,J. K. Rowling,Fantasy,Issued
2,3,Harry Potter and the Philosopher's Stone,J. K. Rowling,Fantasy,Available
3,4,Harry Potter and the Goblet of Fire,J. K. Rowling,Fantasy,Available
4,5,Blood of Elves,Andrzej Sapkowski,Fantasy,Issued
5,6,Time of Contempt,Andrzej Sapkowski,Fantasy,Available
6,7,Baptism of Fire,Andrzej Sapkowski,Fantasy,Available
7,8,The Tower of the Swallow,Andrzej Sapkowski,Fantasy,Issued
8,9,To Kill a Mockingbird,Harper Lee,Southern Gothic,Available

Welcome to the Library managment system

Please choose an option from below menu:
1. Issue a book
2. Return a book
3. View records
4. Update records
5. Remove records
6. Exit

 6